<div class="hero_area" style="margin-bottom: 0px">
    <!-- header section strats -->
    <header class="header_section">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
            <a class="navbar-brand" href="/">
          <span>
            {% block title %}
                {{ locals.store_name }}
            {% endblock %}
          </span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class=""></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav  ">
                    <li class="nav-item {% if template == 'home' %} active {% endif %}">
                        <a class="nav-link" href="/">{{ locals.menu_home }} <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item {% if template == 'products' %} active {% endif %}">
                        <a class="nav-link" href="/products">
                            {{ locals.menu_shop }}
                        </a>
                    </li>
                    <li class="nav-item {% if template == 'blog' %} active {% endif %}">
                        <a class="nav-link" href="/pages/custom-page/61">
                            {{ locals.menu_about_us }}
                        </a>
                    </li>
                </ul>
                <div class="user_option" style="direction: ltr">
                    <a {% if customer %} href="/customer/profile" {% else %} href="/auth/login" {% endif %}>
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <span>
                            {% if customer %} {{ locals.profile }} {% else %} {{ locals.login }} {% endif %}
                        </span>
                    </a>
                    <a  {% if customer %} href="/cart/view" {% else %} href="/auth/login" {% endif %} style="position: relative">
                        <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                        <span class="cart-badge d-none"></span>
                    </a>
                    <form class="form-inline ">
                        <button class="btn nav_search-btn" type="submit">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                    </form>
                </div>
            </div>
        </nav>
    </header>
    <!-- end header section -->

</div>
